body {
  font-family: 'Trebuchet', sans-serif;
  background-color: #fcf9ce;
}

.electory .navbar-inner {
  background: none;
  background-color: #dedcb8;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.brand {
  direction: ltr;
  text-indent: -1000px;
  background-image: url(images/logo.png);
  background-position: 10px -3px;
  background-repeat: no-repeat;
  width: 111px;
}

.intro-screen {
  text-align: center;
}

.intro-screen input[type='text'] {
  font-size: 16px;
  margin-bottom: 0;
  padding: 9px 14px;
}

button {
  text-transform: lowercase;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.division-map {
  height: 150px;
}

.division-leader-board-info h1 {
  font-size: 1.2em;
}

.leaders li {
    position: relative;
    margin: 1em 0;
    padding-top: 2em;
}

.avatar {
	float: left;
}

.classification {
	position: absolute;
	left: 0;
	top: 0;
	font-weight: bold;
	font-size: 1.2em;
	border-bottom: 1px solid;
}

.leader-controls {
	position: absolute;
	right: 0;
	top: 0;
}

.leader-info > span {
	display: block;
}

@media screen and (min-width: 768px) {
  .division-map {
    height: 400px;
  }
}

@media screen and (min-width: 980px) {
  body {
    padding-top: 60px;
  }

  .intro-screen {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .modal.fade.in {
    top: 5%;
  }
}
